.prettyBorder {
  position: relative;
  background: white;
  margin: 1em auto;
  width: fit-content;
  padding: 2em 1em;
}

.prettyBorder:before {
  content: "";
  z-index: -1;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: linear-gradient(127deg, #59d102 -4%, #f3f520 108%);
  transform: translate3d(-2px, 8px, 0) scale(0.97);
  filter: blur(9px);
  opacity: var(0.7);
  transition: opacity 0.3s;
  border-radius: inherit;
}

.prettyBorder::after {
  content: "";
  z-index: -1;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: inherit;
  border-radius: inherit;
}
.prettyBorder-cta {
  display: inline-block;
  letter-spacing: 1px;
  padding: 0.2em;
  border: none;
  background: #f3fff978;
  color: var(--color-secondary);
  font-weight: 400;
  text-transform: capitalize;
  outline: none;
  cursor: pointer;
}

.prettyBorder-cta button {
  border: none;
  background: none;
  color: #7db3b5;
  cursor: pointer;
}
/* 
.box:before {
    content: "";
    z-index: -1;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: linear-gradient(-30deg, #59d102 -4%, #f3f520 80% );
    transform: translate3d(0px, 10px, 0) scale(0.9);
    filter: blur(6px);
    opacity: var(0.7);
    transition: opacity 0.3s;
    border-radius: inherit;
}


.box::after {
    content: "";
    z-index: -1;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: inherit;
    border-radius: inherit;
}
         */
