.vote {
  margin-left: 0.5em;
  cursor: pointer;
}

.challenge-wrapper {
  flex: 1 0 25%;
  margin: 1em 2em;
  min-width: 15em;
  max-width: 20em;
  overflow-wrap: anywhere;
  min-height: 30vh;
  display: flex;
  flex-direction: column;
  text-transform: capitalize;

  background: #f3fff978;
}

.challenge-wrapper > * {
  margin: 0.5em 0;
  color: var(--color-secondary);
  display: flex;
  align-items: center;
}

.challenge-wrapper > h4 {
  color: var(--color-primary);
  letter-spacing: 1px;
}
.byline {
  font-weight: 600;
  margin-right: 0.5em;
}

.challenge-wrapper .challenge-description {
  font-size: 0.8em;
}
