.modal {
  position: fixed;
  inset: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: all 0.3s ease-in-out;
  overflow: hidden;
  z-index: 999;
  height: fit-content;
  margin: auto;
  background-color: transparent;
  pointer-events: all;
  width: 85vw;
  max-width: 400px;
  height: 80vh;
  max-height: 600px;
}

.modal-content {
  display: flex;
  justify-content: center;
  flex-direction: column;
}
